<div class="content">
    <div class="row">
        
        <div class="col-lg-3 col-md-3 col-sm-3" >
        </div>

        <div class="col-lg-6 col-lg-6 col-lg-6">
            <div id="mode" >             
            <span ng-if="keyExMode == 4 || keyExMode == 3 || keyExMode == 2">When PSK mode selected, an earlier connection was done where a key was negotiated to be used in future connections <br/></span>
            Current key exchange mode: 
            <span ng-if="keyExMode == 0">ECDHE</span>
            <span ng-if="keyExMode == 1">DHE</span>
            <span ng-if="keyExMode == 2">PSK with ECDHE</span>
            <span ng-if="keyExMode == 3">PSK with DHE</span>
            <span ng-if="keyExMode == 4">PSK</span>
            <span ng-if="keyExMode == 5 && step>1">ERROR</span>
            <span ng-if="keyExMode == 5 && step<=1">Not yet selected. The server chooses the exchange key mode.</span>
            </div>
        </div>    

        <div class="col-lg-3 col-lg-3 col-lg-3">
        </div>

    </div>

    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 " >
            <div ng-include="'views/leftBox.html'" class="sticky-top"></div>
        </div>


        <div class="col-lg-6 col-md-12 col-sm-12 ">
            <div class="peers" >
                <div class="peerP1">Client</div>
                <div class="peerP2">Server</div> 
            </div>
            <div class="lignP1">
                <!--------------- KEY EXCHANGE ------------------>
                <div ng-include="'views/keyExchange.html'"></div>
             
                <!--------------- SERVER PARAMETERS ------------------>
                <div ng-include="'views/serverParameters.html'"></div>

                <!--------------- SERVER PARAMETERS ------------------>
                <div ng-include="'views/authentication.html'"></div>
            </div>
        </div>
                
        <div class="col-lg-3 col-md-12 col-sm-12 ">
            <div class="sticky-top" >
                <div ng-if="explainAlert != empty"  style="padding-top:1%"> 
                    <div class="explainAlert">
                        <div style="font-size:24px;">Explanation:</div><br/>
                        <div ng-bind-html="explainAlert"  >
                        
                        </div>
                    </div>
               </div><br/>
                <div id="alertClass" ng-if="error == true"  style="padding-top:1%">
                    <span ng-repeat="alerts in alertsList"  on-click="showAlert()">
                        <div class="threadAlert" ng-if="alerts.stop <= step" id="thread">
                            <div style="font-size:24px;">  Alert :</div>
                            <div style="font-size:22px;"><i> {{alerts.title}} </i></div><br/>
                            <span style=" color:#4d0000;" > {{alerts.description}}</span>
                        </div>
                    </span> 
                </div><br/>
            </div>
       </div>
    </div>
</div>
