<div class="content">
    
    <div class="row" style="display: block !important;">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
            
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="background-color: #EBEDEF; width: fit-content; margin: 20px; padding: 20px; border-radius: 2em;"> 
                <span style="font-size:23px;">Animate &nbsp;&nbsp; </span>
                <button class="animate bouncy" ng-click="animateSpeed(0.5)">Speed x0.5</button> 
                <button class="animate bouncy" style="animation-delay: 0.25s;" ng-click="animateSpeed(1.0)">Speed x1.0</button> 
                <button class="animate bouncy" style="animation-delay: 0.5s;" ng-click="animateSpeed(1.5)">Speed x1.5</button> 
        </div>
                    <br/><br/><br/>

            <div class="peers">
                    <div class="peerP1" class="peerP2" style="border-color:#2E86C1;" >Client</div>
                    <div class="peerP3">Attacker</div>
                    <div class="peerP2" style="border-color:#16A085;" >Server</div>
            </div>
          
            <div class="lignP1"  style=" border-right-color: #16A085; border-left-color: #2E86C1;"  >
                <!-- CLIENTHELLO -->
                <div class="stepClient" >
                    <div style="width:100%; display:inline-block; position:relative;" >
                        <div class="stepClientContent" id= "step1" style="border-color:#2E86C1; color:#000;">    
                           <div class="circleClient"  ng-if="animate" style="border-color: #2E86C1"> 1 </div> 
                            <h3>0-RTT key exchange messages</h3>
                        </div>
                       <span ng-if="animate" style="font-size:70px; color: #2E86C1" > &rarr;   </span>
                    </div>
                </div>
                
                <div class="stepClient" >
                    <div style="width:100%; display:inline-block; position:relative;" >
                        <div class="stepClientContent" id="step2" style="border-color:#2E86C1; color:#000;">    
                           <div class="circleClient"  ng-if="animate" style="border-color: #2E86C1"> 2 </div> 
                            <h3>0-RTT data </h3>
                            <i> request </i>
                        </div>
                       <span ng-if="animate" style="font-size:70px; color: #2E86C1" > &rarr;   </span>
                    </div>
                    <!-- <span style="font-size:100px; color: #99ace6" > &rarr;   </span> -->
                </div>
                
                <div class="stepServer" style="font-size:20px; margin:20px 0px" id="message1"> 
                    process <i> request </i> -
                </div>
                
                <div class="stepServer"> 
                    <div style="width:50%; display:inline-block; position:relative;" >

                       <span ng-if="animate" style="font-size:70px; color: #16A085" > &larr;   </span>
                        <div class="stepServerContent" id= "step3" style="border-color:#16A085; color:#000;">
                          <div class="circleServer"  ng-if="animate" style="border-color: #16A085"> 3 </div> 
                           <h3>accept 0-RTT</h3>
                        </div>
                    </div>
                    <span id="attacker_stop1" style="font-size:70px;  color:#E74C3C; position: absolute; right:50%; padding-top: 30px;"> X  </span>

                    <!-- <span style="font-size:100px; color: #99ace6" > &larr;   </span> -->
                </div>

                <div class="stepServer"> 
                    <div style="width:50%; display:inline-block; position:relative;" >

                       <span ng-if="animate" style="font-size:70px; color: #16A085" > &larr;   </span>
                        <div class="stepServerContent" id= "step4" style="border-color:#16A085; color:#000;">
                           <div class="circleServer" ng-if="animate" style="border-color: #16A085"> 4 </div> 
                           <h3>key-exchange response messages</h3>
                        </div>
                    </div>
                    <span id="attacker_stop2" style="font-size:70px;  color:#0000; position: absolute; right:50%; padding-top: 30px;"> X   </span>
                    <!-- <span style="font-size:100px; color: #99ace6" > &larr;   </span>-->
                </div>
                
                <br/>

                
                <div class="stepAttackerR" > 
                    <div class="stepAttackerRContent" id="attacker1" style="border-color:#E74C3C; color:#000;">    
                       <div class="circleClient" ng-if="animate" style="border-color: #E74C3C"> 5 </div> 
                        <h3> replay<br/> 0-RTT key-exchange messages </h3>
                    </div>
                </div>

                    <!-- <span style="font-size:100px; color:red; position: relative; left:100%"> &rarr; </span>-->

                <div class="stepAttackerR" > 
                    <div class="stepAttackerRContent" id="attacker2" style="border-color:#E74C3C; color:#000;">    
                       <div class="circleClient" ng-if="animate" style="border-color: #E74C3C"> 6 </div> 
                        <h3> replay<br/> 0-RTT data</h3>
                        <i> request </i>
                    </div>
                    <!-- <span style="font-size:100px; color:red; position: relative; left:100%"> &rarr; </span>-->
                </div> 
                
                <div class="stepServer" id="message2" style="font-size:20px; margin:20px 0px"> 
                    reject after state loss  -
                </div>
                
                
                <div class="stepServer"> 
                   <div style="width:100%; display:inline-block; position:relative;" >
                    <span ng-if="animate" style="font-size:70px; color: #16A085" > &larr;   </span>

                    <div class="stepServerContent" id="step7" style="border-color:#16A085; color:#000;">
                       <div class="circleServer"  ng-if="animate" style="border-color: #16A085"> 7 </div> 
                       <h3>reject 0-RTT</h3>
                    </div>

                    <!-- <span style="font-size:100px; color: #99ace6" > &larr;   </span> -->
                </div>
                
                <div class="stepServer"> 
                   <div style="width:100%; display:inline-block; position:relative;" >
                    <span ng-if="animate" style="font-size:70px; color: #16A085" > &larr;   </span>

                        <div class="stepServerContent" id="step8" style="border-color:#16A085; color:#000;">
                           <div class="circleServer"  ng-if="animate" style="border-color: #16A085" > 8 </div> 
                           <h3>key-exchange response messages</h3>
                        </div>
                    </div>
                    <!-- <span style="font-size:100px; color: #99ace6" > &larr;   </span> -->
                </div>

                <div class="stepClient" >
                      <div style="width:100%; display:inline-block; position:relative;" >
                        <div class="stepClientContent" id="step9" style="border-color:#2E86C1; color:#000;">   
                           <div class="circleClient"  ng-if="animate" style="border-color: #2E86C1"> 9 </div> 
                            <h3>final key exchange messages </h3>
                        </div>
                        <span ng-if="animate" style="font-size:70px; color: #2E86C1" > &rarr;   </span>
                    </div>
                    <!-- <span style="font-size:100px; color: #99ace6" > &rarr;   </span>-->
                </div>

                <div class="stepClient" >
                    <div style="width:100%; display:inline-block; position:relative;" >
                        <div class="stepClientContent" id="step10" style="border-color:#2E86C1; color:#000;">    
                           <div class="circleClient" ng-if="animate" style="border-color: #2E86C1"> 10 </div> 
                            <h3>resend data </h3>
                            <i>request</i> under final key
                        </div>
                        <span ng-if="animate" style="font-size:70px; color: #2E86C1" > &rarr;   </span>
                    </div>
                    <!-- <span style="font-size:100px; color: #99ace6" > &rarr;   </span>-->
                </div>


                <div class="stepServer" id="message3" style="font-size:20px; margin:20px 0px"> 
                    process <i> request</i> &nbsp; &nbsp; <br/>
                    (for the second time) -
                </div>
                
            </div>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            
        </div>
    </div>
</div>
